html {
	font-family: 'Josefin Slab', serif;
	background-image: url("../img/95757ac5.png");

}

body {
	width: 1200px;
	margin: 40px auto;
	border-top: 3px solid #888888;
	border-left: 3px solid #888888;
	border-right: 3px solid #888888;
	position: relative;
	top: 0;
	min-height: 700px 
}

nav {
	background-color: #888888;
}

nav ul {
	list-style: none;
}

nav li {
	margin-left: 30px;
	display: inline;
}

nav li span {
	margin: 6px;
	float: right;
}

nav li span:hover {
	cursor: pointer;
	color: #f9f9f9;
}

nav li a {
	color: #f9f9f9;
	line-height: 30px;
	text-decoration: none;
	font-style: italic;
}

nav li a:hover {
	text-decoration: underline;
}

#acord {
	width: 800px;
	margin-left: 80px;
	display: inline-block;
}

#acord h1 {
	background-color: #555555;
	line-height: 50px;
	margin: 0;
	padding: 5px;
}

#acord h2 {
	background-color: #888888;
	line-height: 50px;
	margin: 0;
	padding: 5px;
	margin-top: 10px;
}

.box {
	background-color: #f9f9f9;
	height: 100px;
	padding: 10px;
	margin: 0;
	display: none;
}

#login {
	position: absolute;
	top: 45px;
	right: 0;
	padding: 20px;
	width: 160px;
	height: 120px;
	background-color: #888888;
	display: none;
	border-top: 1px dashed #999999; 
}

#login span {
	display: block;
}

#sidebar {
	width: 240px;
	float: right;
	margin-right: 40px;
	margin-top: 10px;
	padding: 10px;
	border: 2px solid #666666;
	clear: right;
}

#catalogue {
	width: 800px;
	display: inline-block;
	margin-left: 80px;
}

article {
	width: 350px;
	height: 200px;
	border: 2px solid #666666; 
	padding: 10px;
	margin: 10px;
	float: left;
}

article h1 {
	background-color: #555555;
	padding: 4px;
	margin-top: 10px;
}

.item-details {
	width: 200px;
	float: right;
	display: inline-block;
	margin: 0;
}

.item-details p {
	margin: 0;
}

.item-details button{
	margin-top: 10px;
}

#total-cart {
	background-color: black;
	color: white;
	border-radius: 10px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	position: relative;
	top: -2px;
	right: 45px;
}

#table {
	position: relative;
	width: 800px;
	min-height: 400px;
	display: inline-block;
	margin-left: 80px;
	border: 2px solid #666666
}

#payment {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 50px;
	font-size: 20px;
}

#clear-cart {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 50px;
	font-size: 20px;
}

#clear-cart:hover {
	text-decoration: underline;
	cursor: pointer;	
}
#payment:hover {
	text-decoration: underline;
	cursor: pointer;
}

#cart-link {
	float: right;
	color: black;
}

#cart-link:hover {
	color: white;
}






































